.form {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	border-radius: 30px;
	width: 457px;
	height: 518px;
	background-color: var(--white-color);
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 88px;
}

.title {
	margin: 0;
	padding: 0;
	color: var(--black-color);
	font-size: 28px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	text-transform: uppercase;
	margin-bottom: 44px;
}

.label {
	height: 80px;
	width: 273px;
	margin: 0;
	padding: 0;
	position: relative;
	cursor: pointer;
	margin-bottom: 20px;
 }

.input {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	padding: 5px 74px 5px 16px;
	width: 273px;
	height: 40px;
	border-radius: 7px;
	background-color: var(--purple-light-color);
	border: none;
	outline: none;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
}

.inputRed {
	border: 2px solid red;
}

.img {
	position: absolute;
	bottom: 35px;
	right: 15px;
}

.paragraph {
	margin-bottom: 10px;
}